@charset "utf-8";
/* 全局栅格样式 */
body{font-family: DeliciousRoman , arial, Microsoft Yahei, 宋体, sans-serif !important;}
ul{padding:0;}
ul li{list-style: none;}
a:hover{text-decoration: none;color: rgb(240, 90, 45);}
.container{margin-bottom:2em; }
.breadcrumb{margin-bottom: 0;padding: 0;background:none;}
.breadcrumb a{color:#323131;}
.breadcrumb a:hover{color: rgb(240, 90, 45)}
.btn{padding:0;margin:0;border:none;}
.glyphicon{vertical-align: text-bottom;}