<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>购物车 || HK</title>
    <meta name="description" content="HK商城">
    <meta name="keywords" content="HK">
    <link rel="stylesheet" href="/css/reset.css"   >
    <link rel="stylesheet" href="/css/page_car.css"  />
    <link rel="stylesheet" href="/css/page.css"   />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1317171_9tqodcy3kpr.css">
    <script type="text/javascript">
        function foo(){
            var s=document.getElementById('m').innerHTML;
            if(s==0){setTimeout("javascript:location.href='index'", 3000);alert("支付时间已过期，请重新选购！2秒后将返回主页。");return;}
            document.getElementById('m').innerHTML=s-1;
            document.getElementById('n').innerHTML=s-1;
            t=setTimeout('foo()',1000);
        }
    </script>





</head>

<body onload="foo()">
<!-- 顶部导航栏 -->
<div class="topBar">
    <div class="container">
        <div class="col-md-6">
            <p>欢迎光临&nbsp;HK商城</p>
        </div>
        <div class=" col-md-6 topNav">
            <ul class="breadcrumb">
                <li>
                    <a href="login">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>登录/注册
                    </a>
                </li>
                <li class="dropdown topLang">

                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                        语言
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation">
                            <a href="#">简体中文</a>
                        </li>
                        <li role="presentation">
                            <a href="#">English</a>
                        </li>
                    </ul>

                </li>
                <li>
                    <a href="#aboutUs">关于我们
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- logo与进度反馈区域 -->
<div id="logo_line" class="car_wrap clear">
    <div class="logo fl">
        <a href="index">
            <img  src="/image/logo/biglogo.png"  alt="HK购物商城" >
        </a>
    </div>
    <div class="shopCar_tit fl">
        <h1>购物车</h1>
    </div>
    <div class="order_path order_path_1 ">
    </div>
</div>
<div class="car_hr"></div>
<!-- /logo与进度反馈区域 -->
<div class="content_show_wrapper">
    <div class="cart_notification cart_error" style="">
        <div class="message">
            <p></p>
        </div>
    </div>
    <div id="group_show">
        <div class="content_header clear">
            <div class="cart_timer_wrapper"> <i class="icon_small png"></i> <span class="cart_timer_counting"> 请在 <span id="m"  class="cart_timer_text">900</span> 秒内去结账，并在下单后 <span class="pink">20</span> 分钟内完成支付 </span> <span class="cart_timer_out"> 已超过购物车商品保留时间，请尽快结算。 </span> [<a class="cart_timer_tip float_box" href="javascript:void(0)"> ? <div class="pop_box">  <span class="arrow_t_1"><span class="arrow_t_2"></span></span> <div class="timer_tip_text"> 由于商品库存有限，我们只能暂为您最多保存20分钟，<br>20分钟后购物车将被清空，请尽快结算订单。 </div> </div> </a>] </div>
            <div class="top_banner">
                <ul class="header_icons">
                    <li> <span> <i class="icon_zhenpin header_icon png"></i> 假一赔十 </span> </li>
                    <li> <span> <i class="icon_tuihuo header_icon png"></i> 7天无条件退货 </span> </li>
                    <li> <span> <i class="icon_baoyou header_icon png"></i> 30天无条件换货 </span> </li>
                </ul>
            </div>
            <div class="common_shippment"> <i class="icon_small icon_baoyou png">包邮</i>规则：HK商城满99元全场包邮 </div>
        </div>
        <div class="groups_wrapper">
            <table class="cart_group_item  cart_group_item_product">
                <thead>
                <tr>
                    <th class="cart_overview">
                        <div class="cart_group_header">
                            <input class="js_group_selector cart_group_selector" checked="checked" type="checkbox">
                            <h2>HK商城发货</h2>
                        </div>
                    </th>
                    <th class="cart_price">价格（元）</th>
                    <th class="cart_num">数量</th>
                    <th class="cart_total">小计（元）</th>
                    <th class="cart_option">操作</th>
                </tr>
                </thead>
                <tbody class="hide">
                <tr class="cart_item " hashid="d150603p892053zc" id="1057066_d150603p892053zc" product_id="892053" item_price="48.00" category_v3_3="18" brand_id="623" product_type="product">
                    <td valign="top">
                        <div class="cart_item_desc clear">
                            <input class="js_item_selector cart_item_selector" data-item-key="1057066_d150603p892053zc" checked="'checked'/" type="checkbox">
                            <div class="cart_item_desc_wrapper">
                                <a class="cart_item_pic" href="http://sh.jumei.com/i/deal/d150603p892053zc.html" target="_blank"> <img src="../image/book/book_list4/list4_lit1.jpg" alt="世界那么大，我想去看看！"> <span class="sold_out_pic png"></span> </a> <a class="cart_item_link" title="世界那么大，我想去看看" href="http://sh.jumei.com/i/deal/d150603p892053zc.html" target="_blank">世界那么大，我想去看看！</a>
                                <p class="sku_info">规格：<span class="cart_item_attribute">彩色</span>&nbsp; </p>
                                <div class="sale_info clear">
                                    <div class="tips_pop_full float_box JS_tips_pop_full">
                                        <div> <a class="sale_tag gift JS_sale_tag" data-promo-type="gift"> 满赠 <i class="icon_small png"></i> </a> </div>
                                        <div class="pop_box JS_pop_box">
                                            <div><span class="arrow_t_1"><span class="arrow_t_2"></span></span>
                                            </div>
                                            <div>
                                                <a class="clear promo_sale_item promo_has_url" target="_blank" href="http://hd.jumei.com/act/4-3-6035-ppt_maybelline_150603.html"> <span class="title">时代图书团满99送109</span> <span class="tips">查看活动</span> </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tips_pop_full float_box JS_tips_pop_full">
                                        <div> <a class="sale_tag reduce JS_sale_tag" data-promo-type="reduce"> 满减 <i class="icon_small png"></i> </a> </div>
                                        <div class="pop_box JS_pop_box">
                                            <div><span class="arrow_t_1"><span class="arrow_t_2"></span></span>
                                            </div>
                                            <div>
                                                <a class="clear promo_sale_item promo_has_url" target="_blank" href="http://hd.jumei.com/act/4-3-6035-ppt_maybelline_150603.html"> <span class="title">时代图书团满99减20</span> <span class="tips">查看活动</span> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="cart_item_price">
                            <p class="jumei_price">48.00</p>
                            <p class="market_price">59.00</p>
                        </div>
                    </td>
                    <td>
                        <div class="cart_item_num ">
                            <div class="item_quantity_editer clear" data-item-key="1057066_d150603p892053zc"> <span class="decrease_one disabled ">-</span>
                                <input class="item_quantity" value="1" type="text"> <span class="increase_one ">+</span> </div>
                            <div class="item_shortage_tip"> </div>
                        </div>
                    </td>
                    <td>
                        <div class="cart_item_total">
                            <p class="item_total_price">48.00</p>
                            <p>省 <span class="item_saved_price">11.00</span></p>
                        </div>
                    </td>
                    <td>
                        <div class="cart_item_option">
                            <a class="iconfont icon-shanchu" data-item-key="1057066_d150603p892053zc" href="javascript:void(0)" title="删除"></a>
                        </div>
                        <script type="text/javascript">
                            $(".delete_item").click(function  () {
                                $(".hide").hide();
                            })
                        </script>

                    </td>
                </tr>
                </tbody>
                <tbody class="hide2">
                <tr class="cart_item " hashid="d150603p892053zc" id="1057066_d150603p892053zc" product_id="892053" item_price="32.00" category_v3_3="18" brand_id="623" product_type="product">
                    <td valign="top">
                        <div class="cart_item_desc clear">
                            <input class="js_item_selector cart_item_selector" data-item-key="1057066_d150603p892053zc" checked="'checked'/" type="checkbox">
                            <div class="cart_item_desc_wrapper">
                                <a class="cart_item_pic" href="https://www.baidu.com" target="_blank"> <img src="/image/item/list2_lit1.jpg" alt="商品1"> <span class="sold_out_pic png"></span> </a> <a class="cart_item_link" title="商品1" href="https://www.baidu.com" target="_blank">商品1</a>
                                <p class="sku_info"> 规格：<span class="cart_item_attribute">% %</span>&nbsp; </p>
                                <div class="sale_info clear">
                                    <div class="tips_pop_full float_box JS_tips_pop_full">
                                        <div> <a class="sale_tag gift JS_sale_tag" data-promo-type="gift"> 满赠 <i class="icon_small png"></i> </a> </div>
                                        <div class="pop_box JS_pop_box">
                                            <div><span class="arrow_t_1"><span class="arrow_t_2"></span></span>
                                            </div>
                                            <div>
                                                <a class="clear promo_sale_item promo_has_url" target="_blank" href="http://hd.jumei.com/act/4-3-6035-ppt_maybelline_150603.html"> <span class="title">时代图书团满99送109</span> <span class="tips">查看活动</span> </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tips_pop_full float_box JS_tips_pop_full">
                                        <div> <a class="sale_tag reduce JS_sale_tag" data-promo-type="reduce"> 满减 <i class="icon_small png"></i> </a> </div>
                                        <div class="pop_box JS_pop_box">
                                            <div><span class="arrow_t_1"><span class="arrow_t_2"></span></span>
                                            </div>
                                            <div>
                                                <a class="clear promo_sale_item promo_has_url" target="_blank" href="http://hd.jumei.com/act/4-3-6035-ppt_maybelline_150603.html"> <span class="title">时代图书团满99减20</span> <span class="tips">查看活动</span> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="cart_item_price">
                            <p class="jumei_price">32.00</p>
                            <p class="market_price">45.00</p>
                        </div>
                    </td>
                    <td>
                        <div class="cart_item_num ">
                            <div class="item_quantity_editer clear" data-item-key="1057066_d150603p892053zc"> <span class="decrease_one disabled ">-</span>
                                <input class="item_quantity" value="1" type="text"> <span class="increase_one ">+</span> </div>
                            <div class="item_shortage_tip"> </div>
                        </div>
                    </td>
                    <td>
                        <div class="cart_item_total">
                            <p class="item_total_price">32.00</p>
                            <p>省 <span class="item_saved_price">13.00</span></p>
                        </div>
                    </td>
                    <td>
                        <div class="cart_item_option">
                            <a class="iconfont icon-shanchu" data-item-key="1057066_d150603p892053zc" href="javascript:void(0)" title="删除"></a>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tbody>
                <tr class="cart_item " hashid="d150603p892053zc" id="1057066_d150603p892053zc" product_id="892053" item_price="34.00" category_v3_3="18" brand_id="623" product_type="product">
                    <td valign="top">
                        <div class="cart_item_desc clear">
                            <input class="js_item_selector cart_item_selector" data-item-key="1057066_d150603p892053zc" checked="'checked'/" type="checkbox">
                            <div class="cart_item_desc_wrapper">
                                <a class="cart_item_pic" href="http://sh.jumei.com/i/deal/d150603p892053zc.html" target="_blank"> <img src="/image/item/list1_lit1.jpg" alt="商品2"> <span class="sold_out_pic png"></span> </a> <a class="cart_item_link" title="商品2" href="http://sh.jumei.com/i/deal/d150603p892053zc.html" target="_blank">商品2</a>
                                <p class="sku_info"> 规格：<span class="cart_item_attribute">彩色</span>&nbsp; </p>
                                <div class="sale_info clear">
                                    <div class="tips_pop_full float_box JS_tips_pop_full">
                                        <div> <a class="sale_tag gift JS_sale_tag" data-promo-type="gift"> 满赠 <i class="icon_small png"></i> </a> </div>
                                        <div class="pop_box JS_pop_box">
                                            <div><span class="arrow_t_1"><span class="arrow_t_2"></span></span>
                                            </div>
                                            <div>
                                                <a class="clear promo_sale_item promo_has_url" target="_blank" href="http://hd.jumei.com/act/4-3-6035-ppt_maybelline_150603.html"> <span class="title">时代图书团满99送109</span> <span class="tips">查看活动</span> </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tips_pop_full float_box JS_tips_pop_full">
                                        <div> <a class="sale_tag reduce JS_sale_tag" data-promo-type="reduce"> 满减 <i class="icon_small png"></i> </a> </div>
                                        <div class="pop_box JS_pop_box">
                                            <div><span class="arrow_t_1"><span class="arrow_t_2"></span></span>
                                            </div>
                                            <div>
                                                <a class="clear promo_sale_item promo_has_url" target="_blank" href="http://hd.jumei.com/act/4-3-6035-ppt_maybelline_150603.html"> <span class="title">时代图书团满99减20</span> <span class="tips">查看活动</span> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="cart_item_price">
                            <p class="jumei_price">34.00</p>
                            <p class="market_price">38.00</p>
                        </div>
                    </td>
                    <td>
                        <div class="cart_item_num ">
                            <div class="item_quantity_editer clear" data-item-key="1057066_d150603p892053zc"> <span class="decrease_one disabled ">-</span>
                                <input class="item_quantity" value="1" type="text"> <span class="increase_one ">+</span> </div>
                            <div class="item_shortage_tip"> </div>
                        </div>
                    </td>
                    <td>
                        <div class="cart_item_total">
                            <p class="item_total_price">34.00</p>
                            <p>省 <span class="item_saved_price">4.00</span></p>
                        </div>
                    </td>
                    <td>
                        <div class="cart_item_option">
                            <a class="iconfont icon-shanchu" data-item-key="1057066_d150603p892053zc" href="javascript:void(0)" title="删除"></a>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tbody>
                <tr class="cart_item " hashid="d150603p892053zc" id="1057066_d150603p892053zc" product_id="892053" item_price="48.00" category_v3_3="18" brand_id="623" product_type="product">
                    <td valign="top">
                        <div class="cart_item_desc clear">
                            <input class="js_item_selector cart_item_selector" data-item-key="1057066_d150603p892053zc" checked="'checked'/" type="checkbox">
                            <div class="cart_item_desc_wrapper">
                                <a class="cart_item_pic" href="http://sh.jumei.com/i/deal/d150603p892053zc.html" target="_blank"> <img src="/image/item/list7_lit1.jpg" alt="商品3"> <span class="sold_out_pic png"></span> </a> <a class="cart_item_link" title="商品3" href="http://sh.jumei.com/i/deal/d150603p892053zc.html" target="_blank">商品3</a>
                                <p class="sku_info"> 规格：<span class="cart_item_attribute">彩色</span>&nbsp; </p>
                                <div class="sale_info clear">
                                    <div class="tips_pop_full float_box JS_tips_pop_full">
                                        <div> <a class="sale_tag gift JS_sale_tag" data-promo-type="gift"> 满赠 <i class="icon_small png"></i> </a> </div>
                                        <div class="pop_box JS_pop_box">
                                            <div><span class="arrow_t_1"><span class="arrow_t_2"></span></span>
                                            </div>
                                            <div>
                                                <a class="clear promo_sale_item promo_has_url" target="_blank" href="http://hd.jumei.com/act/4-3-6035-ppt_maybelline_150603.html"> <span class="title">时代图书团满99送109</span> <span class="tips">查看活动</span> </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tips_pop_full float_box JS_tips_pop_full">
                                        <div> <a class="sale_tag reduce JS_sale_tag" data-promo-type="reduce"> 满减 <i class="icon_small png"></i> </a> </div>
                                        <div class="pop_box JS_pop_box">
                                            <div><span class="arrow_t_1"><span class="arrow_t_2"></span></span>
                                            </div>
                                            <div>
                                                <a class="clear promo_sale_item promo_has_url" target="_blank" href="http://hd.jumei.com/act/4-3-6035-ppt_maybelline_150603.html"> <span class="title">时代图书团满99减20</span> <span class="tips">查看活动</span> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="cart_item_price">
                            <p class="jumei_price">27.00</p>
                            <p class="market_price">39.00</p>
                        </div>
                    </td>
                    <td>
                        <div class="cart_item_num ">
                            <div class="item_quantity_editer clear" data-item-key="1057066_d150603p892053zc"> <span class="decrease_one disabled ">-</span>
                                <input class="item_quantity" value="1" type="text"> <span class="increase_one ">+</span> </div>
                            <div class="item_shortage_tip"> </div>
                        </div>
                    </td>
                    <td>
                        <div class="cart_item_total">
                            <p class="item_total_price">27.00</p>
                            <p>省 <span class="item_saved_price">12.00</span></p>
                        </div>
                    </td>
                    <td>
                        <div class="cart_item_option">
                            <a class="iconfont icon-shanchu" data-item-key="1057066_d150603p892053zc" href="javascript:void(0)" title="删除"></a>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5"> 商品金额： <span class="group_total_price">￥141.00</span> </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="common_handler_anchor"></div>
        <div class="common_handler">
            <div class="right_handler"> 共 <span class="total_amount"> 1 </span> &nbsp;件商品 &nbsp;&nbsp; 商品应付总额：<span class="total_price">￥141.00</span> <a id="go_to_order" class="btn" href="lookOrderForm.html">去结算</a> </div>
            <label for="js_all_selector" class="cart_all_selector_wrapper">
                <input id="js_all_selector" class="js_all_selector all_selector"  onclick="cli('多选项名称');"     type="checkbox"> 全选 </label> <a class="go_back_shopping" href="index">继续购物</a> <span class="seperate_line">|</span> <a class="clear_cart_all" href="">清空选中商品</a>
            <form id="form_to_order" action="" method="post" style="display: none;">
                <input name="items_key" type="hidden"> </form>
        </div>
        <div class="content_footer clear">
            <div class="cart_timer_wrapper"> <i class="icon_small png"></i> <span class="cart_timer_counting"> 请在 <span id="n" class="cart_timer_text">900</span> 秒内去结账，并在下单后 <span class="pink">20</span> 分钟内完成支付 </span> <span class="cart_timer_out"> 已超过购物车商品保留时间，请尽快结算。 </span> [<a class="cart_timer_tip float_box" href="javascript:void(0)"> ? <div class="pop_box">  <span class="arrow_t_1"><span class="arrow_t_2"></span></span> <div class="timer_tip_text"> 由于商品库存有限，我们只能暂为您最多保存20分钟，<br>20分钟后购物车将被清空，请尽快结算订单。 </div> </div> </a>] </div>
        </div>
    </div>
    <div id="cart_side_nav">
        <a href="javascript:void(0)"></a>
    </div>
</div>


<div class="container lastNav">
    <hr>
    <div class="col-md-3">

        <ul>帮助中心
            <li><a href="">账户管理</a></li>
            <li><a href="">购物指南</a></li>
            <li><a href="">订单操作</a></li>
            <li><a href="">常见问题</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>服务支持
            <li><a href="">线下门店</a></li>
            <li><a href="">售后政策</a></li>
            <li><a href="">服务网点</a></li>
            <li><a href="">相关下载</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul id="aboutUs">关于我们
            <li><a href="">了解HK</a></li>
            <li><a href="">加入我们</a></li>
            <li><a href="">新浪微博</a></li>
            <li><a href="">联系我们</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>特色服务
            <li><a href="">会员特权</a></li>
            <li><a href="">防伪查询</a></li>
            <li><a href="">积分兑换</a></li>
            <li><a href="">企业服务</a></li>
        </ul>
    </div>
</div>








<script src="../js/jquery-1.4.2.min.js"></script>
<script src="../js/imgTab.js"></script>
</body>

</html>
