<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<h3 class="box-title">用户注册</h3>
<form role="form"  method="post" th:object="${user}">
    <input type="hidden" th:field="*{id}" name="id">
    <div class="box-body">
        <div class="form-group">

            名字: <input type="text" name="name" th:field="*{name}"><br/>
        </div>
        <div class="form-group">

            年龄: <input type="number" name="age" th:field="*{age}"><br/>
        </div>
        <div class="form-group">

            密码：<input type="password" name="password" th:field="*{password}"><br/>
        </div>
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
