<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>欢迎登录HK商城</title>
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="topLogo">
        <div class="container">
            <div class="col-md-3 leftLogin">
                <img src="/image/logo/biglogo.png" alt="">
                账号登录
            </div>
            <div class="col-md-3 col-md-offset-6">
                <div class="rightLogin">
                没有账号，
                <a href="add">点击注册</a>
            </div>
            </div>
                
        </div>
        
    </div>
<!-- 主要登陆块 -->
    <div class="backgroundLogin">
 
        <div class="container">
            <img src="/image/login/loginbackground.png" alt="">
                <div class="mainBox">
                    <div class="title">登录</div>
                    <form th:action="@{/user/login}" method="post" th:object="${user}">
                        <div class="form-group">
                            <input type="text" class="form-control"name="name" th:field="*{name}" placeholder="用户名">
                        </div>
                        <div class="form-group">
                                <input class="form-control" type="password"  name="password" th:field="*{password}" placeholder="密码">
                            </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">登录</button>
                        </div>
                    </form>
                    <ul>
                        <li><a href="add">立即注册</a></li>
                        <li> | </li>
                        <li><a href="">忘记密码？</a></li>
                    </ul>
                    <div class="otherWay">
                        <p>其他方式登录</p>
                        <ul>
                            <li><a href=""><img src="/image/login/Wechat.png" alt=""></a></li>
                            <li><a href=""><img src="/image/login/QQ.png" alt=""></a></li>
                            <li><a href=""><img src="/image/login/microblog.png" alt=""></a></li>
                            <li><a href=""><img src="/image/login/Alipay.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
    
</body>
</html>