<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
</head>
<body>
Shoppingcart List:
<table border="1">
    <tr>
        <th>ID</th>
        <th>商品ID</th>
        <th>用户ID</th>
        <th>数量</th>
    </tr>
    <tr th:each="shoppingcart:${shoppingcarts}">
        <td th:text="${shoppingcart.id}"></td>
        <td th:text="${shoppingcart.proId}"></td>
        <td th:text="${shoppingcart.tUId}"></td>
        <td th:text="${shoppingcart.quantity}"></td>
        <!--<td><button data-th-attr="onclick='deleteUser(this, \'' + ${user.id} + '\')'">删除</button> </td>-->
    </tr>
</table>
</body>
<script>
    // function deleteUser(elem, id) {
    //     $.ajax({
    //         url: '/user/delete?id=' + id,
    //         type: 'get',
    //         success: function (data) {
    //             $(elem).parent().parent().remove();
    //         },
    //         fail: function (data) {
    //             console.log('fail')
    //         }
    //     })
    // }
</script>
</html>